@import "tailwindcss";

@theme {
  --color-white: #f7f4f2;
  --color-sea-blue: #284259;
  --color-green: #44AF69;
  --color-red: #C84B42;
  --color-yellow: #E1A05C;
  --color-mint-green: #61C9A8;


  --breakpoint-*: initial;
  --breakpoint-xs: 22rem;
  --breakpoint-sm: 30rem;
  --breakpoint-tb: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 96rem;

  --animate-float: float 2.8s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-7px); }
}